.footer{
    position: relative;
   left: 0;
   bottom: 0;
   color: white;
   width: 100%;
   height: 25vh;
   background:#008080;



}
.aboutus p{
    margin: 10px 100px;

}
.aboutus h1{
    padding:  5px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-family:"Lucida Console", "Courier New", monospace;

}
.footer span{
    position: absolute;
    bottom: 0px;
    left: 50%;
}