.User_id:hover{
    cursor: pointer;
    color: #008080;
}
.User_out:hover{
    cursor: pointer;
    color: red;
}

.nav-item{
    margin: 10px;
}
.nav-item a:hover{
    color: white;
    background-color: #008080;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.search_btn{
    padding: 2px;
    border:1px solid #008080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: white;
}
.search_btn:hover{
background-color: #008080;
color: white;
}
.btn{
    color: #008080 !important;
}
.btn-outline-success:hover{
    background-color: #008080 !important;
    color: white !important;
}
.form-control:focus{
    border-color: #008080 !important;
    box-shadow: 0 0 0 0.1rem #008080c3 !important;
}
.sideNav{
   z-index: 1;
   display:inline-block;
   position: absolute;
   right: 8%;
   width: 28vh;
   height: 20vh;
   background-color: white;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
   margin-top:2px ;
}
.sideNav::before{
    content: "";
    display: block;
    position: absolute;
    right: 1rem;
    top: -15px;
    border-bottom: 15px solid #008080;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
 }


.sideNav ul li{
    z-index: 1;
    display: block;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid #008080b0;
    padding: 5px;

}
.sideNavNone{
    display: none;
}
.navbar-brand{
    position: relative;
    animation: mymove 9s  ;
    animation-iteration-count: infinite;
    transition-delay: 1s;
}
@keyframes mymove {
 from {scale: 1.0;}
 to {scale: 1.7;}
 
}


