.side{
    display:inline-flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 10%;
    height: 90vh;
    background:#008080;
    



}
.side button{
    margin: 40px 10px;
    padding: 20px 5px;
    color: white;
    background: gray;
    border: white;

}
.side button:hover{
    background:black;
    cursor: pointer;


}