<%
    if(typof error_message !== 'undefined'){
        <%
            <p><%= error_message %></p>
        %>
    }
%>
<form action="" method="POST">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <input type="hidden" name="email" value="<%= user.email %>">
    <input type="password" name="password" required placeholder="new password">
    <br><br>
    <input type="password" name="confirm_password" required placeholder="confirm_password">
    <br><br>
    <input type="submit" value="reset password" >
</form>