.add_audio{
    
    
    display: flex;
    /* flex-flow: wrap; */
    gap: 17px;
}
.add_A{
    WIDTH: 70%;
}
.add_test{
  position: fixed;
  left: 15%;
  top: 9%;
  width: 100%;
  /* height: 60vh; */
  text-align: center;


}

  
 .Ear{
    
  object-fit: scale-down;
  position: fixed;
  width: 150px;
  height: 150px;
  -moz-box-shadow: 9px -9px #008080;
  -webkit-box-shadow: 8px -8px #008080;
  -o-box-shadow: 7px -7px #008080;
  border-radius: 44px;
 }
  .add_q{
   
  }
  .add_q input {
    height: 30px;
    width: 50%;
    border: #008080 solid 1px;
    margin: 5px 0px;
  }
  .add_q input:hover{
    transform: scale(1.1);
    border: gray solid 1px;


  }
  .add_test button{
    border: #008080 solid 1px;
    height: 30px;
    width: 20%;
    border-radius: 4px;
    background: gray;
    color: white;


  }
  .add_test button:hover{
    color: white;
    background:black;
    transform: scale(1.3);

  }
  #answer1 , #answer2 ,#answer3 ,#answer4{
    display: flex;
  }