
.wave {
    position: relative;
    background: transparent url(../../Assets/Images/animated-soundwaves-lg.png) repeat-x;
    background-position: 0 0;
    height: 20vh;
    background-size: cover;
    animation: slide 30s linear infinite;
    -webkit-animation: slide 30s linear infinite;
    margin-top: 100px;
    
}
@keyframes slide{ 
 from{
    background-position: 0 0;
 }
 to{
    background-position: 100% 0;
 }
}
.question h2{
    padding: 5px 10px ;
    font-size: 40px;
    color: white;
    width: 100%;
    background-color: #008080d5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.question {
    position: absolute;
    top: 80%;
    left: 40%;
    opacity: 100;
    transition: all 250ms linear 1s;
    -webkit-transition: all 250ms linear 1s;
    -moz-transition: all 250ms linear 1s;
    -ms-transition: all 250ms linear 1s;
    -o-transition: all 250ms linear 1s;
}

.answers label{
    color: black !important;
    

}
.answers .btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
}
.answers label{
    color: white !important;
    background-color: #008080;
    border: none;
}
.answers label:checked{
    color: black;
    background-color: #008080;

}
.answers input[type="radio"]:checked+label {
    background-color: #bbb;
  }
  .answers input[type="radio"]:hover+label {
    background-color: #bbb;
  }

  .Play-btn{
    width: 20vh;
    height: 20vh;
    position: absolute;
    background-color: #008080;
    left: 46%;
    transform: translate(-50,-50);
    color: white;
    font-size: 95px;
    text-align: center;
    border:#008080 solid ;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-transform: translate(-50,-50);
    -moz-transform: translate(-50,-50);
    -ms-transform: translate(-50,-50);
    -o-transform: translate(-50,-50);
    cursor: pointer;
   
}
.Play-btn:hover{
    color: #008080;
    background-color: white;

}
.ready h2{
    text-align: center;
    font-size: 50px;


}
.next{
    
    text-decoration: none;
    border: none;
    background-color: #008080;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}
.swap-questions{
    position: absolute;
    left: 35%;
}