* {
    margin: 0;
    box-sizing: border-box;
  
}
@font-face {
    font-family:"ubuntu Bold" ;
    src: url(/src/components/Assets/Fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family:"ubuntu reg" ;
    src: url(/src/components/Assets/Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
.Login{
    font-family: "ubuntu Bold";
    
}
.cover input:focus::placeholder{
    color: transparent;
   
   
}
.cover input{
      border: none;
      background-color:rgb(229, 226, 226);
      height: 4em;
      width: 80%;
      border-radius:0.25 ;
      -webkit-border-radius:0.25 ;
      -moz-border-radius:0.25 ;
      -ms-border-radius:0.25 ;
      -o-border-radius:0.25 ;
      text-align: center;
      padding: 2em;
      font-family: "ubuntu reg";
      padding: 20px 30px;
}

.cover{
  margin: 10PX 0PX;
 
  width: 30em;
  height: 30em;
  position: absolute;

  box-shadow: 0 0.1em 1.5em rgb(156, 156, 156) ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  z-index: -1;
 
  
}
.register{
    position: absolute;
    left: 0;
    font-size: 20px;
    margin: 46px 0px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.register h3{
    text-align: center;
}
.register button{
    color: white;
    background: gray;
    border: solid 1px #008080;
    border-radius: 20px;
}
.page {
    height:60vh;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
}

.login-btn{
    cursor: pointer;
    font-size: 24px;
    color: white;
    background:gray;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px;
    width: 250px;
}
.login-btn:hover{
    color: black;
}


.create-account{
    text-decoration: none;
    color: gray;
}
.create-account:hover{
    color: black;
}


.Target {
position: relative;
bottom: 5%;
}
.Target button{
    cursor: pointer;
    font-size: 24px;
    color: white;
    background:gray;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px;
    margin: 0px 50px;
    width: 100px;
    animation: example 2s;
    animation-iteration-count: infinite;

}


.Target button:hover{
    color: black;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(170deg,white 40%,#008080 10%);
    bottom:0;
    left:-100%;
    opacity: 1.5;
    position:fixed;
    right:-60%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
 
  

 