.update{
    text-align: center;
     margin: auto; 
    display: flex;
    justify-content: center;
    font-family:"Lucida Console", "Courier New", monospace;
    width: 66%;


}
.update h1{
    position: relative;
    background: #008080;
    color: white;
    margin: 2px ;

}

.box-update{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.box-update input{
    margin: 15px 0px;
    height: 60px;
    text-align: center;
}
.box-update button{
    border-radius: 9px;
    width: 50%;
    height: 30px;
    border-color: white;
   margin: auto;
   background:#008080 ;
   color: white
}
.box-update button:hover{
    color: #008080;
    background:gray;
    transform: scale(1.5);
}