.update{
    font-family: "Lucida Console", "Courier New", monospace;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 0;
    top: 50%;
}
.update h1{
    position: relative;
    background: #008080;
    color: white;
    margin: 2px ;

}

.box-update{
    /* display: flex;
    flex-direction: column;
    width: 41%;
    height: 55vh;
    padding: 3px; */
    display: flex;
    flex-direction: column;
    
   
}
.box-update input{
    margin: 15px 0px;
    height: 60px;
    text-align: center;
    border: #008080 solid 1px;
}
.box-update button{
    border-radius: 9px;
    width: 50%;
    height: 30px;
    border-color: white;
   margin: auto;
   background:#008080 ;
   color: white
}
.box-update button:hover{
    color: #008080;
    background:gray;
    transform: scale(1.5);
}